@font-face {
    font-family: 'Josefin Sans';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}
:root {
    --blue-500: #3a7bfd;
    --check: linear-gradient(#57ddff, #c058f3);
    --gray-50: #25273C;
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(236, 33%, 92%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);
    --bg-image: url('./images/bg-mobile-dark.jpg');
    --sun: none;
    --moon: block;
    --border-color: 1px solid #383A4F;
    --items-text: #C0C2D9;
    --text-checked: #5C5E73;
    --input-radio: #33354A;
    --bg-color: #181824;
}
[data-theme="1"] {
    --bg-color: #FFFFFF;
    --gray-50: #fafafa;
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(233, 11%, 84%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);
    --bg-image: url('./images/bg-mobile-light.jpg');
    --sun: none;
    --moon: block;
    --box-shadow: 0 35px 50px var(--gray-300);
    --border-color: 1px solid #E6E5EA;
    --items-text: #53515C;
    --text-checked: #C3C4C8;
    --input-radio: #E9E9EB;
}
[data-theme="2"] {
    --bg-color: #181824;
    --gray-50: #25273C;
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(236, 33%, 92%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);
    --bg-image: url('./images/bg-mobile-dark.jpg');
    --sun: block;
    --moon: none;
    --border-color: 1px solid #383A4F;
    --items-text: #C0C2D9;
    --text-checked: #5C5E73;
    --input-radio: #33354A;
}
html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background-color: var(--bg-color);
    padding-bottom: 35px;
}
.sun {
    cursor: pointer;
    display: var(--sun);
}
.moon {
    cursor: pointer;
    display: var(--moon);
}
.card-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;  
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.todo {
    background-color: var(--gray-50);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: -30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    max-width: 542px;
}
.w-full {
    width: 100%;
}
.w-max {
    max-width: 542px;
}
input[type="text"] {
    width: 85%;
    padding: 2px;
    outline: none;
    background: none;
    border: none;
}
input[type="text"]::placeholder {
    color: var(--gray-600);
    font-size: 12px;
}
.btn-close {
    width: 18px;
    height: 18px;
    background: url(./images/icon-cross.svg) center;
}
.btn-clear {
    font-size: 12px;
}
.btn-stat:hover, .btn-clear:hover {
    color: var(--navy-850);
}
.input-text {
    display: flex;
    align-items: center;
    max-width: 542px;
    width: 90%;
    height: 48px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-top: -25px;
    color: var(--navy-850);
    background-color: var(--gray-50);
}
.text-white {
    color: white;
}
.title {
    width: 90%;
    max-width: 542px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stat-to-do {
    width: 90%;
    max-width: 542px;
    max-height: 48px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 4px;
    background-color: var(--gray-50);
    box-shadow: var(--box-shadow);
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--gray-600);
    font-weight: bold;
}
.btn-checked {
    color: var(--blue-500);
}
.items {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 5px 20px;
    border-bottom: var(--border-color);
}
.items-text {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--items-text);
    letter-spacing: -1.5%;
    overflow: hidden;
    text-overflow: ellipsis
}
.items-text > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.input-radio, .input-radio-first {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--input-radio);
    border-radius: 50%;
    margin-right: 15px;
}
.input-radio::after, .input-radio-first::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--gray-50);
}
.input-radio:hover, .input-radio-first:hover {
    background: var(--check);
}
.items.checked > .flex-row > .input-radio::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url('./images/icon-check.svg') center no-repeat;
}
.flex-row {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.items.checked > .flex-row > .input-radio {
    background: var(--check);
    border: none;
}
.checked > .flex-row > p {
    color: var(--text-checked)!important;
    text-decoration: line-through;
}
.items-end {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    height: 54px;
    align-items: center;
    gap: 10px;
    color: var(--gray-600);
    font-size: 12px;
    letter-spacing: -1.5%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.explain-text {
    color: var(--gray-600);
    font-size: 14px;
    letter-spacing: -1.5%;
}

@media screen and (min-width: 700px) {
    :root {
        --bg-image: url('./images/bg-desktop-light.jpg');
    }
    [data-theme="1"] {
        --bg-image: url('./images/bg-desktop-light.jpg');
    }
    [data-theme="2"] {
        --bg-image: url('./images/bg-desktop-dark.jpg');
    }
    .card-header {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-top: 70px;
        padding-bottom: 70px;
        height: 300px;
    }
    .w-half {
        width: 542px;
    }
    .items {
        height: 63px;
    }
    .input-text {
        width: 100%;
        height: 65px;
        margin-top: -90px;
        font-size: 18px!important;
    }
    input[type="text"] {
        font-size: 18px;
    }
    .px-20 {
        padding: 0;
    }
    .todo {
        margin-top: -52px;
        font-size: 18.5px!important;
    }
    .stat-to-do {
        width: auto;
        margin-top: -51px;
        border-radius: 0;
        box-shadow: none;
        height: 54px;
        padding: 5px 20px;
    }
}