@font-face {
    font-family: 'Josefin Sans';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}
:root {
    --blue-500: #3a7bfd;
    --check: linear-gradient(#57ddff, #c058f3);
}
[data-theme="1"] {
    --gray-50: hsl(0, 0%, 98%);
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(233, 11%, 84%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);
    --bg-image: url('./images/bg-mobile-light.jpg');
    --sun: none;
    --moon: block;
}
[data-theme="2"] {
    --gray-50: #161722;
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(236, 33%, 92%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);
    --bg-image: url('./images/bg-mobile-dark.jpg');
    --sun: block;
    --moon: none;
}
html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background-color: var(--gray-50);
    padding-bottom: 15px;
}
.sun {
    cursor: pointer;
    display: var(--sun);
}
.moon {
    cursor: pointer;
    display: var(--moon);
}
.card-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    height: 200px;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;  
}
.todo {
    background-color: var(--gray-50);
    border-radius: 5px;
    box-shadow: 0 35px 50px rgba(194, 195, 214, 0.5);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: -30px;
    padding: 20px;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.w-full {
    width: 100%;
}
input[type="text"] {
    outline: none;
    background: none;
    border: none;
}
input[type="text"]::placeholder {
    color: var(--gray-600);
    font-size: 12px;
}
.input-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-size: 12px;
    color: var(--navy-850);
    background-color: var(--gray-50);
}
.text-white {
    color: white;
}
.stat-to-do {
    width: 90%;
    max-width: 500px;
    max-height: 47px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 4px;
    background-color: var(--gray-50);
    box-shadow: 0 35px 50px rgba(194, 195, 214, 0.5);
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--gray-600);
    font-weight: bold;
}
.btn-checked {
    color: var(--blue-500);
}
.todo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
}
.items {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 5px 20px;
    border-bottom: 1px solid var(--gray-300);
}
.items-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--navy-850);
    letter-spacing: -1.5%;
}
.input-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray-300);
    border-radius: 50%;
    margin-right: 15px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checked > .input-radio {
    background: var(--check);
    border: none;
}
.checked > p {
    color: var(--gray-600)!important;
    text-decoration: line-through;
}
.items-end {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    height: 54px;
    align-items: center;
    gap: 10px;
    color: var(--gray-600);
    font-size: 12px;
    letter-spacing: -1.5%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.explain-text {
    color: var(--gray-600);
    font-size: 14px;
    letter-spacing: -1.5%;
}